<div  class="container" >

    <div class="page">
        <div class="pageHeader">
            <div class="title">Manage Employees</div>
            <div class="userPanel"><i class="fa fa-chevron-down"></i><span class="username">{{account.login}} </span><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/73.jpg" width="40" height="40"/></div>
        </div>
        <div class="main">
            <div class="nav">

                <div class="menu">
                    <div class="title">Navigation</div>
                    <ul>
                        <li> <i class="fa fa-user-circle-o"></i> <a ui-sref=".account">Account</a> </li>
                        <li> <i class="fa fa-users"></i> <a ui-sref=".employees">Employees</a> </li>
                        <li> <i class="fa fa-compass"></i> <a ui-sref=".location">Location</a> </li>
                        <li> <i class="fa fa-list-alt"></i> <a ui-sref=".logs">Logs</a> </li>
                    </ul>
                </div>
            </div>

            <div class="view" ui-view>
            </div>
        </div>
    </div>
</div>